@font-face {
    font-family: matriaFont;
    src: url(/fonts/Faerytale_Woods.ttf);
}

html {
    position: relative;
    min-height: 100%;
  }

.huge {
    font-size: 40px;
}

body {
    font-family: matriaFont;
    background-image: url('/../img/photo-1920x1080.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body > #app > .container, {
    margin-top: 100px;
    margin-bottom: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@include media-breakpoint-down(xs) {
    body > #app > .container, {
        margin-bottom: 320px;
    }
}

body > #app > .container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.bg-translucent {
    background-color: rgba(3, 3, 3, 0.3);
    color: #fff;
}

.navbar-brand {
    border: none;
    & img {
        -webkit-filter: drop-shadow(5px 5px 5px #000);
        filter: drop-shadow(5px 5px 5px #000);
        &:hover {
            transform: scale(1.2);
            -webkit-filter: drop-shadow(10px 10px 10px #000);
            filter: drop-shadow(10px 10px 10px #000);
        }
    }
}

.avatar-thumb img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
