@font-face {
    font-family: matriaFont;
    src: url(/fonts/Faerytale_Woods.ttf);
}

html {
    position: relative;
    min-height: 100%;
  }

.huge {
    font-size: 40px;
}

body > #app > .container, {
    margin-top: 100px;
    margin-bottom: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: matriaFont;
}

@include media-breakpoint-down(xs) {
    body > #app > .container, {
        margin-bottom: 320px;
    }
}

body > #app > .container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.home-section {
    height: 100vh;
    min-height: 500px;
    background-image: url('/../img/photo-1920x1080.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-section-preview {
    background-image: url('/../img/photo-1920x1080.jpeg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-translucent {
    background-color: rgba(3, 3, 3, 0.3);
    color: #fff;
}

.avatar-thumb img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
