.btn-nav {
    color: #fff;
    background-image: url("/img/btn-nav.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    padding: 6px;
    &:hover {
        color: #fff;
        transform: scale(1.2);
        -webkit-filter: drop-shadow(7px 7px 7px #222);
        filter: drop-shadow(7px 7px 7px #222);
    }
    &.active {
        transform: scale(0.8);
        & a {
            color: #777!important;
        }
    }
    & a {
        color: #fff!important;
    }
}

.btn {
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        -webkit-filter: drop-shadow(7px 7px 7px #222);
        filter: drop-shadow(7px 7px 7px #222);
    }
}

.btn-action {
    color: #fff;
    background: none;
    background-image: url("/img/btn-action.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    & a {
        color: whitesmoke !important;
    }
}

.social-buttons {
    & i {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        &:hover {
            transform: scale(1.2);
            -webkit-filter: drop-shadow(7px 7px 7px #222);
            filter: drop-shadow(7px 7px 7px #222);
        }
    }
}

.pagination {
    & li > a, li > span {
        background-color: transparent !important;
        border: none;
        background-image: url("/img/btn-action.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        color: #fff;
        outline: none;
    }

    & li > a:focus,
    & li > a:hover,
    & li > span:focus,
    & li > span:hover {
        transform: scale(1.2);
        -webkit-filter: drop-shadow(7px 7px 7px #222);
        filter: drop-shadow(7px 7px 7px #222);
        outline: none;
    }

    & .page-item.active, .page-item.disabled {
         & .page-link {
             outline: none;
             transform: scale(0.8);
             -webkit-filter: drop-shadow(7px 7px 7px #222);
             filter: drop-shadow(7px 7px 7px #222);
             color: whitesmoke;
         }

     }

    & li:not(.show-mobile) {
        display: none;
    }
}



@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
    & .btn-nav {
        font-size: 175% !important;
    }
    & .btn-action {
        font-size: 150% !important;
    }
}

@include media-breakpoint-up(lg) {
}


