.btn-nav {
    color: #fff;
    background-image: url("/img/btn-nav.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    &:hover {
        color: #fff;
        transform: scale(1.2);
        -webkit-filter: drop-shadow(7px 7px 7px #222);
        filter: drop-shadow(7px 7px 7px #222);
    }
    &.active {
        transform: scale(0.8);
        & a {
            color: #777!important;
        }
    }
    & a {
        color: #fff!important;
    }
}

.btn {
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        -webkit-filter: drop-shadow(7px 7px 7px #222);
        filter: drop-shadow(7px 7px 7px #222);
    }
}

.btn-action {
    color: #fff;
    background: none;
    background-image: url("/img/btn-action.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    & a {
        color: whitesmoke !important;
    }
}

.social-buttons {
    & i {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        &:hover {
            transform: scale(1.2);
            -webkit-filter: drop-shadow(7px 7px 7px #222);
            filter: drop-shadow(7px 7px 7px #222);
        }
    }
}


@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
    & .btn-nav {
        font-size: 175% !important;
    }
    & .btn-action {
        font-size: 150% !important;
    }
}

@include media-breakpoint-up(lg) {
}
