.label1 {
    color: #fff;
    background-image: url("/img/label1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size:  100% 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
