.label0, .label1, .label2 {
    background-repeat: no-repeat;
    background-position: left;
    background-size:  100% 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.label0 {
    color: #fff;
    background-image: url("/img/label0.png");
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.label1 {
    color: #fff;
    background-image: url("/img/label1.png");
}

.label2 {
    color: #fff;
    background-image: url("/img/label2.png");
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 35px;
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
    & .label1 {
        font-size: 250% !important;
    }
    & .label2 {
        font-size: 200% !important;
        padding-top: 35px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 75px;
    }
}

@include media-breakpoint-up(lg) {
}
